In [4]:
%load_ext autoreload
%autoreload 2

In [5]:
import pandas as pd

from utils.constants import RAW_DIR
from utils.dataload import load_data

In [6]:
train_df = load_data(RAW_DIR / 'train.csv', load_func=pd.read_csv)
test_df = load_data(RAW_DIR / 'test.csv', load_func=pd.read_csv)

In [7]:
train_df.head()

,id,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,...,sqbescolari,sqbage,sqbhogar_total,sqbedjefe,sqbhogar_nin,sqbovercrowding,sqbdependency,sqbmeaned,agesq,target
0,ID_279628684,190000.0,0,3,0,1,1,0,NaN,0,...,100,1849,1,100,0,1.000000,0.0,100.0,1849,4
1,ID_f29eb3ddd,135000.0,0,4,0,1,1,1,1.0,0,...,144,4489,1,144,0,1.000000,64.0,144.0,4489,4
2,ID_68de51c94,NaN,0,8,0,1,1,0,NaN,0,...,121,8464,1,0,0,0.250000,64.0,121.0,8464,4
3,ID_d671db89c,180000.0,0,5,0,1,1,1,1.0,0,...,81,289,16,121,4,1.777778,1.0,121.0,289,4
4,ID_d56d6f5f5,180000.0,0,5,0,1,1,1,1.0,0,...,121,1369,16,121,4,1.777778,1.0,121.0,1369,4

## Check variables with same values

In [8]:
train_df['hogar_total'].eq(train_df['tamhog']).all()

True

In [9]:
train_df[['hogar_total', 'tamhog']].value_counts(dropna=False)

hogar_total  tamhog
4            4         2451
3            3         2258
5            5         1590
2            2         1362
6            6          819
1            1          386
7            7          364
8            8           96
9            9           90
10           10          60
11           11          44
12           12          24
13           13          13
dtype: int64

## Check NaN variables

In [10]:
train_df.isna().sum()[train_df.isna().sum() > 0]

v2a1         6860
v18q1        7342
rez_esc      7928
meaneduc        5
sqbmeaned       5
dtype: int64